@import _mixins

.footer
	background: $dark-gray
	color: $font-light
	padding: 2rem -0

	address
		font:
			weight: normal
			style: normal

	a
		color: $font-light

	&__company-details
		padding: 0.4rem 0
		display: block

	.container
		@media #{$media-md-up}
			overflow: hidden
			display: flex
			align-items: center
			flex-direction: row
			justify-content: space-between
