@import _mixins

*
	box-sizing: border-box

html
	font: $font
	color: $color
	@media #{$media-xs-down}
		font-size: $font-size * 0.8
	@media #{$media-uhd-up}
		font-size: $font-size * 1.5
	@media (min-width: $screen-4k)
		font-size: $font-size * 2

body
	margin: 0
	-webkit-font-smoothing: antialiased
	-webkit-tap-highlight-color: transparent
	&.fixed
		overflow: hidden
		&.safari
			position: fixed
			height: 100%
			width: 100%

section

a
	border: none
	outline: none
	color: $info-color

mark
	background-color: $info-color
	color: #fff
	padding-left: 0.5em
	padding-right: 0.5em
	box-decoration-break: clone

p

span

img
	border: none
	outline: none
	max-width: 100%
	vertical-align: middle

h1, h2, h3, h4, h5, h6
	color: $headers-color
	line-height: 1.2em
	font-weight: 100
	margin-top: 1em
	margin-bottom: 1rem
	&:first-child
		margin-top: 0

h1,
h2
	font-size: 3.2rem
	@media #{$media-md-up}
		font-size: 3.75rem
h3
	font-size: 2.6rem
h4
	font-size: 2rem
h5
	font-size: 1.5rem
h6
	font-size: 1rem
	font-weight: 900
	line-height: 1.5em

hr
	border: 0
	display: block
	border-top: 2px solid $headers-color
	height: 0
	margin-top: 2rem
	margin-bottom: 2rem
	clear: both

table
	border-collapse: collapse
	td, th
		border: 2px solid $headers-color
		padding: 0.6rem 1rem
		text-align: left

label
	border-radius: 0

button, input, select, textarea, a
	font: $font
	font-size: 1rem
	&:focus,
	&:active
		outline-color: $main-color

blockquote
	border-left: 2px solid $headers-color
	margin-left: 0
	padding-left: 2rem

//	SELECT
select
	appearance: none
	border: 1px solid $base-font-color
	outline-color: $main-color
	&:-moz-focusring
		color: transparent
		text-shadow: none
//	END SELECT

// INPUTS & TEXTAREA
input,
textarea
	outline-color: $main-color
	font: $font
	color: $base-font-color
	font-size: 1rem
	&::placeholder
		font: $font
		font-size: 1rem

textarea

input
	appearance: none

input[type='number']
	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
		-webkit-appearance: none
	-moz-appearance: textfield
//	END INPUTS & TEXTAREA


// GRID
.container
	margin: 0 auto
	width: 80%
	@media #{$media-sm}
		padding-left: 1rem
		padding-right: 1rem
		width: 100%

.hidden
	display: none !important

// image-holder
.image-holder
	overflow: hidden
	position: relative
	text-align: center
	vertical-align: middle
	img
		object-fit: cover
		vertical-align: middle
		height: 100%
		width: 100%
	.fake-img
		opacity: 0
		position: relative
		height: 100%
		width: 100%
		z-index: 1
	.img
		background:
			position: 50% 50%
			repeat: no-repeat
			size: cover
		height: 100%
		position: absolute
		left: 0
		right: 0
		top: 0

.table-holder
	max-width: 100%
	overflow: auto

.flex-vertical
	display: flex
	height: 100%
	flex-flow: row wrap
	align-items: center
	justify-content: center

//	MARKUP
.align-center,
.text-center
	text-align: center

.align-right,
.text-right
	text-align: right

.align-left,
.text-left
	text-align: left

.pull-left
	float: left
.pull-right
	float: right

.nowrap
	white-space: nowrap

.clearfix
	&:before,
	&:after
		content: ''
		height: 0
		display: table
		clear: both
