@import _mixins

//----------------------------------
// DEV
//----------------------------------
// .chromeperfectpixel-initial-block iframe,
// #chromeperfectpixel-supported-by
// 	display: none !important
// #__bs_notify__
// 	display: none !important
// 	opacity: 0 !important
// *
// 	transition: all .3s
//----------------------------------
// END DEV
//----------------------------------


// body
.header-section
	text-align: center

	h2
		margin: 0 0 0.1em

	h6
		margin: 0 auto 9rem
		position: relative
		max-width: 40rem
		font-weight: 100

		color: #adadad
		font-size: 1rem
		line-height: 1.5em
		text-align: center

		&:after
			background-color: #cbcaca
			bottom: -7rem
			content: ''
			display: block
			height: 5rem
			left: 50%
			position: absolute
			width: 2px

//----------------------------------
// NAVIGATION
//----------------------------------
.main-navigation
	left: 0
	position: absolute
	right: 0
	top: 4rem
	transform: translateZ(0)

	&__list
		text-align: center

		@media #{$media-sm-only}
			align-items: center
			display: flex
			flex-direction: row
			justify-content: space-between

		@media #{$media-xs}
			display: none

	&__item
		display: inline-block
		margin: 0 1.2em

	&__link
		color: #fff
		font:
			family: "Poppins"
			size: 1rem
		line-height: 1.2em
		padding: 1em
		text:
			align: center
			decoration: none
//----------------------------------
// END NAVIGATION
//----------------------------------


//----------------------------------
// HERO
//----------------------------------
.hero-section
	@extend %flex-middle
	background:
		color: #c1c1c1
		image: url($main-background-image)
		position: 50% 100%
		size: cover
	text-align: center

.brand-label
	border: solid 3px rgba(150, 150, 150, 0.25)
	color: #fff
	display: inline-block
	padding: 2rem 3rem

	perspective: 2000px
	transform-style: preserve-3d
	transition: all .5s

	@media #{$media-md-up}
		padding: 3rem 5rem

	&__header
		color: #fff
		font:
			size: 3.2rem
			weight: 100
		letter-spacing: 1.5rem
		margin:
			bottom: 0
			right: -1.4rem
		text-transform: uppercase

		@media #{$media-md-up}
			font-size: 4.6rem

	&__description
		color: #fff
		font:
			size: 1rem
			weight: 100
		letter-spacing: 0.5rem
		margin: 0
		text-transform: uppercase

		@media #{$media-md-up}
			font-size: 1.4rem
//----------------------------------
// END HERO
//----------------------------------

//----------------------------------
// WHOARE
//----------------------------------
.whoare-section
	background-color: #f3f3f3

.whoare
	padding:
		bottom: 5rem
		top: 5rem

	@media #{$media-md-up}
		padding:
			bottom: 9.2rem
			top: 9.2rem

	&__header,
	&__description
		display: inline-block
		vertical-align: middle

	&__header
		margin: 0

		@media #{$media-md-up}
			padding-right: 2rem
			width: 43%

		@media #{$media-sm-down}
			br
				display: none

	&__description
		@media #{$media-md-up}
			width: 56%

		&, p
			color: $dark-gray
			font-size: 1.25rem
			line-height: 1.5em

			&:last-of-type
				margin-bottom: 0

	&__header-text
		margin: 0
//----------------------------------
// END WHOARE
//----------------------------------

//----------------------------------
// SERVICES
//----------------------------------

.services-section
	padding-top: 5rem

	@media #{$media-md-up}
		padding:
			bottom: 8rem
			top: 8rem

.services-block
	&__header,
	&__description
		margin: 0

		@media #{$media-md-up}
			display: inline-block
			vertical-align: middle
			width: 49%

	&__description
		@media #{$media-md-up}
			padding-left: 10rem

	&__header
		perspective: 2000px
		transform-style: preserve-3d
		transition: all .5s

		font-size: 0
		letter-spacing: 0

	&__header-circle,
	&__header-text
		border-radius: 50%
		display: block
		text-align: center

		@media #{$media-sm-down}
			margin:
				left: auto
				right: auto

	&__header-circle
		background:
			color: #333
			image: url($main-background-image)
		height: 34rem
		padding: 6rem
		width: 34rem

		@media #{$media-xs-down}
			height: 18rem
			padding: 2rem
			width: 18rem

	&__header-text
		background-color: #fff
		font-size: 2.5rem
		height: 22rem
		padding: 2rem
		vertical-align: middle
		width: 22rem

		align-items: center
		display: flex
		flex-direction: column
		justify-content: center

		@media #{$media-xs-down}
			padding: 1rem
			height: 14rem
			width: 14rem

		@media #{$media-xs-down}
			font-size: 2rem

	&__list

	&__item
		color: $dark-gray
		font-size: 1.5rem
		line-height: 1.5
		margin: 3em 0
		padding-left: 1rem
		position: relative

		&:before
			background: #cbcaca
			content: ''
			height: 2px
			left: -5rem
			position: absolute
			top: 1rem
			width: 4rem
//----------------------------------
// END SERVICES
//----------------------------------

//----------------------------------
// PORTFOLIO
//----------------------------------
.portfolio-section
	@extend %flex-middle
	background-color: #f3f3f3
	padding:
		bottom: 5rem
		top: 5rem

	@media #{$media-md-up}
		padding:
			top: 8rem
			bottom: 8rem

.portfolio-block

	$root: &

	&__list
		font-size: 0
		letter-spacing: 0
		margin:
			left: -1rem
			right: -1rem
		text-align: center

	&__item
		display: inline-block
		font-size: 2.25rem
		padding: 1rem
		position: relative
		text:
			align: center
			transform: uppercase
		vertical-align: top

		@media #{$media-md-up}
			width: 33.3%

		@media #{$media-sm-only}
			width: 50%

		& *
			transform-style: preserve-3d

	$itemImage: &__item-image

	&__item-image
		box-shadow: 0 0 0 0 rgba(0,0,0,0)
		transition: box-shadow 400ms, transform 400ms

		@at-root
			.browser-ms
				#{$root}__item-image
					box-shadow: none !important
					transition: none !important

	&__item-description
		color: #fff
		left: 50%
		line-height: 1em
		margin: 0
		padding: 1em
		position: absolute
		top: 50%
		transform: translateX(-50%) translateY(-50%) translateZ(1px)
		transition: transform 400ms

	&__item:hover
		#{$root}__item-image
			box-shadow: 0 20px 40px -8px rgba(0,0,0,0.3)
			transform: translateY(-4px) translateZ(1px)

		#{$root}__item-description
			transform: translateX(-50%) translateY(-50%) translateZ(15px)

	@at-root
		.browser-ms
			#{$root}__item:hover
				#{$root}__item-image
					transform: translateZ(0)

				#{$root}__item-description
					transform: translateX(-50%) translateY(-50%) translateZ(0)


	// 3D
	.blick
		background-image: linear-gradient(14.5deg, transparent, rgba(255, 255, 255, 0.2) 55%, transparent 115%)
		height: 100%
		left: 0
		opacity: 0
		position: absolute
		top: 0
		transform: translate3d(0,0,2px)
			origin: 50%
		transition: opacity .6s
		width: 100%
		z-index: 2

	&__item
		perspective: 1200px
		transform-style: preserve-3d
		transition: all .5s

		&:hover
			.blick
				opacity: 1
				transition: opacity .3s


//----------------------------------
// END PORTFOLIO
//----------------------------------


//----------------------------------
// ADVANTAGES
//----------------------------------
.advantages-section
	padding:
		bottom: 5rem
		top: 5rem

	@media #{$media-md-up}
		padding-top: 8rem

	.header-section
		text-align: left

.advantages-block

	&__list
		@media #{$media-md-up}
			text-align: right

		@media #{$media-sm-down}
			margin-top: 4rem

	&__item
		display: inline-block
		margin-bottom: 4rem

		&:last-of-type
			margin-bottom: 0

		@media #{$media-md-up}
			padding-right: 5rem
			width: 50%

			&:nth-child(2)
				margin-right: 16%

			&:nth-child(3)
				margin-right: 32%

			&:nth-child(4)
				margin-right: 48%

			&:nth-child(5)
				margin-right: 64%

		@media #{$media-sm-down}
			padding-left: 5rem

		@media #{$media-xs-down}
			padding-left: 2rem

	&__item-header
		color: $dark-gray
		display: inline-block
		font-size: 2rem
		font-weight: 500
		line-height: 1.25em
		max-width: 27rem
		position: relative

		h5
			margin: 0

		&:after
			background: $dark-gray
			border-radius: 50%
			content: ''
			display: block
			height: 4rem
			position: absolute
			top: 0
			width: 4rem

			@media #{$media-md-up}
				height: 6.2rem
				right: -10rem
				width: 6.2rem

			@media #{$media-sm-down}
				left: -5rem

			@media #{$media-xs-down}
				height: 1rem
				left: -2rem
				top: 0.4rem
				width: 1rem

	&__item-description
		color: #868786
		font-size: 1.25rem
		line-height: 1.5em

//----------------------------------
// END ADVANTAGES
//----------------------------------


//----------------------------------
// CONTACT
//----------------------------------
.contact-section
	@extend %flex-middle

	min-height: calc(100vh - 100px)

	button, input, select, textarea
		background-color: transparent
		border: none
		font: $font
			size: 1rem
		padding: 0

		&:focus,
		&:active
			border: none
				bottom: 2px solid $dark-gray
			outline: none

	// INPUTS & TEXTAREA
	input,
	textarea
		border-bottom: 2px solid $light-gray
		color: $base-font-color
		font: $font
			size: 1rem
		height: 2rem
		outline-color: $main-color

		&::placeholder
			font: $font
				size: 1rem

	textarea
		height: 6rem
		resize: none
		transition: height 300ms

		&:focus,
		&:active
		&:invalid
			height: 2rem

	.form-content
		font-size: 0
		letter-spacing: 0
		margin: 12rem auto 0
		max-width: 50rem

	.form-group
		display: inline-block
		font-size: 1rem
		padding: 0 ($grid-gap / 2) $grid-gap
		vertical-align: top
		width: 100%

		&.half-width
			@media #{$media-md-up}
				width: 50%
	input
		width: 100%

	input[type="submit"], button
		color: $color * 2
		cursor: pointer
		font-weight: 900
		text-transform: uppercase
		transition: color 100ms

		&:after,
		svg
			content: ''
			display: inline-block
			height: 10px
			// TODO translate
			margin:
				left: 0.2em
				top: -2px
			transition: margin 300ms
			vertical-align: middle
			width: 10px

			background:
				size: contain
			fill: $color * 2

		&:focus,
		&:hover,
		&:active
			border: none
			color: $color

			&:after,
			svg
				margin-left: 1em
				fill: $color

	textarea
		display: block
		width: 100%

//----------------------------------
// END CONTACT
//----------------------------------

//----------------------------------
// MODALS
//----------------------------------

[data-modal]
	cursor: pointer

.modal-window
	background: #fff
	bottom: 0
	display: none
	left: 0
	overflow: auto
	padding:
		bottom: 4rem
		top: 4rem
	position: fixed
	right: 0
	top: 0
	transform: translateZ(100px)
	transition: transform 300ms, opacity 300ms
	width: 100vw
	z-index: 10

	&.opening
		display: block
		opacity: 0
		transform: translateY(2rem) translateZ(100px)
		transition: all 300ms

	&.opened
		display: block
		opacity: 1
		transform: translateY(0) translateZ(100px)

	&.clothing
		opacity: 0
		overflow: hidden
		transform: translateY(2rem) translateZ(100px)
		transition: all 300ms

	.close-modal
		background:
			image: url(../img/icons/close-button.svg)
			size: contain
		cursor: pointer
		height: 2rem
		position: absolute
		right: 1rem
		top: 1rem
		width: 2rem

		@media #{$media-md-up}
			right: 2rem
			top: 2rem

	.modal-row
		margin-top: 6rem

		&:nth-of-type(1)
			margin-top: 0

	@media #{$media-md-up}
		.modal-header,
		.modal-header + .modal-content
			display: inline-block
			vertical-align: top

		.modal-header
			width: 40%

		.modal-header + .modal-content
			padding-left: 4rem
			width: 59%

//----------------------------------
// END MODALS
//----------------------------------
