//- meta
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

meta(name="description" content="Sandy Mist. We make your dream come true!")
meta(name="keywords" content="Sandy,Mist,dream,come,true")

link(rel="apple-touch-icon", sizes="180x180", href="img/icons/favicons/apple-touch-icon.png")
link(rel="icon", type="image/png", href="img/icons/favicons/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="img/icons/favicons/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="img/icons/favicons/manifest.json")
link(rel="mask-icon", href="img/icons/favicons/safari-pinned-tab.svg", color="#5bbad5")
meta(name="theme-color", content="#ffffff")

// open graph
meta(property="og:type" content="website")
meta(property="og:title" content= title)
meta(property="og:description" content="Sandy Mist – We make your dream come true!")
meta(property="og:image" content="http://cyberleaf.community/sandymist/img/bg/bg.jpg")
meta(property="og:url" content="http://sandymist.com/")
meta(name="twitter:image" content="http://cyberleaf.community/sandymist/img/bg/bg.jpg")
meta(name="twitter:title" content= title)
meta(name="twitter:url" content="http://sandymist.com/")
meta(name="twitter:card" content="summary")
meta(name="twitter:description" content="Sandy Mist – We make your dream come true!")
//- link(rel='stylesheet', href='external/---')

//- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C400italic%7CMontserrat%3A400%2C700%7CHomemade+Apple&amp;subset=latin%2Clatin-ext" type="text/css")
//- style
	include ../../dist/css/fonts.css

link(rel='stylesheet', href='css/fonts.css')
link(rel='stylesheet', href='css/global.css')

link(rel='stylesheet', href='css/footer.css')
link(rel='stylesheet', href='css/main.css')

