
//- modals

.modal-window#portfolio-modal-1
	.close-modal
	.container
		.modal-row
			.modal-header
				h1 Article content markup
			.modal-content
				h3 Basic
				time Posted on August 24, 2016 at 9:00 PM
				p Lorem ipsum dolor sit amet, <mark>consectetur adipisicing</mark> elit. Velit <b>voluptatum quod quos</b> nihil, reprehenderit doloremque hic minima ipsam maxime laboriosam animi dolorum veritatis? Consectetur, <i>odio perspiciatis temporibus laboriosam</i> quam, illum.
				p Illo adipisci <u>itaque placeat fugit nemo</u> eos? Quasi ratione <strike>libero reiciendis quos</strike> aperiam, <a href="#">doloremque quae delectus</a> voluptatum. Culpa consequatur, eaque et inventore nostrum, sunt quasi laudantium optio veniam, corrupti accusantium.
				img(src="http://placehold.it/1400x150", alt="full container image")
				p Explicabo iusto dolorem, ex corporis repellendus laborum consectetur ut, mollitia ullam quod quidem minima officia, esse ipsum quis dolor natus? Ullam ab eveniet vero illum, consectetur distinctio at doloremque labore!
				blockquote(cite="http://example.source/") Deleniti, voluptas, impedit. Libero magnam, quisquam. Obcaecati fugit voluptatibus doloremque reiciendis excepturi eaque culpa numquam placeat neque, eveniet quas in perspiciatis assumenda iste asperiores! Distinctio ad cum laudantium fugiat? Neque!


		.modal-row
			.modal-header
				h2 Ordered and unordered lists
			.modal-content
				ul
					li Lorem ipsum dolor sit amet.
					li A incidunt officia rem aliquid.
					li Iure nobis quam minus aut!
					li Repellat laudantium repudiandae aspernatur molestias!
					li Id sunt voluptate unde soluta!
				ol
					li Tempore quis odio voluptates porro.
					li Dolorum minus soluta, itaque quia?
					li Labore nesciunt sint laboriosam aperiam.
					li Cum reiciendis ea perferendis non.
					li Ipsa earum, totam minus. Nemo.
					li Non necessitatibus a sequi laboriosam!
					li Tempora eos quod quas possimus.
					li Itaque quasi vero, aliquid earum!
					li Tempore, repellendus quos fugiat aliquam.
					li Asperiores quam, dolorem possimus maiores!
					li Eaque ab magni, delectus omnis.
					li Optio accusamus nisi error aspernatur!
				hr
				h3 Table

		.modal-row
			.modal-header
				h2 Table
			.modal-content
				table
					thead
						tr
							th thead tr th
							th th
							th Header
							th Header
					tbody
						tr
							td tbody tr td
							td td
							td Data
							td Data
						tr
							td Data
							td Data
							td Data
							td Data

		.modal-row
			.modal-header
				h2 Headers
			.modal-content
				h1 Header 1
				p Optio voluptates, officiis. Et nam, nobis, earum culpa provident molestiae dolorum commodi, eaque eos cumque ad sapiente magnam impedit fuga libero asperiores, at maxime. Expedita fugit praesentium dolorum saepe commodi.
				h2 Header 2
				p Culpa voluptatibus, nobis consectetur aspernatur iste dolore sit delectus accusamus adipisci recusandae explicabo minus obcaecati ducimus veniam, quibusdam at ex commodi ipsum, excepturi magni quisquam. Sit, nobis veniam porro perferendis!
				h3 Header 3
				p Eveniet expedita voluptates unde ipsa impedit, illo deleniti sunt natus adipisci vero nisi enim sed ad, eligendi ex, nesciunt assumenda iusto magni laboriosam placeat sapiente repellat voluptas, cum dicta. Eos!
				h4 Header 4
				p Maiores beatae illum consequuntur amet, laborum blanditiis impedit non! Eligendi porro repellat quibusdam nesciunt nulla laborum quod. Inventore quibusdam doloremque id reiciendis, officia velit fuga? Consectetur quam, nisi architecto voluptate?
				h5 Header 5
				p Praesentium error blanditiis facere sint numquam porro hic tempore repudiandae distinctio, quidem ipsum aut laborum cumque nobis assumenda, veniam, sunt cum illo repellat perferendis voluptates velit dolores. Labore, tempore, reiciendis!
				h6 Header 6
				p Enim fugiat maiores delectus accusantium, optio, ea voluptatibus assumenda odio alias inventore, laborum tempora saepe animi quae et, fugit a odit doloribus at accusamus nihil quibusdam nostrum esse libero. Dignissimos.
