extends layout

block vars
	- var title = "Sandy Mist"
	- var navigation = "index"

block content

	.main-navigation
		.container
			.main-navigation__list
				.main-navigation__item
					a.main-navigation__link(href="#whoare") About us
				.main-navigation__item
					a.main-navigation__link(href="#services") Services
				.main-navigation__item
					a.main-navigation__link(href="#portfolio") Portfolio
				.main-navigation__item
					a.main-navigation__link(href="#advantages") Advantages
				.main-navigation__item
					a.main-navigation__link(href="#contact") Contact

	#hero.hero-section
		.container

			.brand-label
				h1.brand-label__header Sandy Mist
				h3.brand-label__description IT company

	#whoare.whoare-section
		.container
			.whoare
				.whoare__header
					h2.whoare__header-text Who are they <br />Sandy Mist
				.whoare__description
					p We are community of independent developers and every member of our creative team will provide you with a high quality product. Our community has great experience at developing modular and scalable systems. That makes us very flexible and efficient.

	#services.services-section
		.container
			.header-section
				h2 What we can do for you
				h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.services-block
				.services-block__header
					.services-block__header-circle
						h3.services-block__header-text What we can do for you
				.services-block__description
					.services-block__list
						.services-block__item Landing and single/multi page websites
						.services-block__item Blogs and E-Commerce
						.services-block__item REST Applications, Progressive Web Apps
						.services-block__item SEO optimized, browser friendly and fully responsive

	#portfolio.portfolio-section
		.container
			.header-section
				h2 What we can do for you
				h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			.portfolio-block

				mixin portfolio (img, description)
					.portfolio-block__item(data-modal="#portfolio-modal-1")
						.portfolio-block__item-image
							img(src= img)
						.portfolio-block__item-description
							p!= description

				.portfolio-block__list
					+portfolio(
						'https://unsplash.it/g/740/580??random;67',
						'Prioninae diatomaceoid'
					)
					+portfolio(
						'https://unsplash.it/g/740/580??random;53',
						'fraudulence bewrathed'
					)
					+portfolio(
						'https://unsplash.it/g/740/580??random;44',
						'kuvasz psychogonic'
					)
					+portfolio(
						'https://unsplash.it/g/740/580??random;74',
						'topstone reblock'
					)
					+portfolio(
						'https://unsplash.it/g/740/580??random;82',
						'larixin byestreet'
					)
					+portfolio(
						'https://unsplash.it/g/740/580??random;67',
						'anathematism fustianish'
					)

	#advantages.advantages-section
		.container
			.header-section
				h2 Our advantages

			.advantages-block

				mixin advantage (header, description)
					.advantages-block__item
						.advantages-block__item-header
							h5!= header
						.advantages-block__item-description
							p!= description

				.advantages-block__list
					+advantage (
						'Landing and single/multi page websites',
						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
					)
					+advantage (
						'Landing and single/multi page websites',
						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
					)
					+advantage (
						'Landing and single/multi page websites',
						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
					)

	#contact.contact-section
		.container.content-holder
			.header-section
				h2 Get in touch
				h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			form.form-content(action="#")
				.form-group.half-width
					input(type="email" placeholder="Email" required)
				.form-group.half-width
					input(type="text" placeholder="Name")
				.form-group
					textarea(placeholder="Enter your message" required)
				.form-group
					button(type="submit") Send
						svg(x="0px" y="0px" width="444.815px" height="444.815px" viewBox="0 0 444.815 444.815" style="enable-background:new 0 0 444.815 444.815;" xml:space="preserve")
							path(d="M421.976,196.712L236.111,10.848C228.884,3.615,220.219,0,210.131,0c-9.9,0-18.464,3.615-25.697,10.848L163.023,32.26   c-7.234,6.853-10.85,15.418-10.85,25.697c0,10.277,3.616,18.842,10.85,25.697l83.653,83.937H45.677   c-9.895,0-17.937,3.568-24.123,10.707s-9.279,15.752-9.279,25.837v36.546c0,10.088,3.094,18.698,9.279,25.837   s14.228,10.704,24.123,10.704h200.995L163.02,360.88c-7.234,7.228-10.85,15.89-10.85,25.981c0,10.089,3.616,18.75,10.85,25.978   l21.411,21.412c7.426,7.043,15.99,10.564,25.697,10.564c9.899,0,18.562-3.521,25.981-10.564l185.864-185.864   c7.043-7.043,10.567-15.701,10.567-25.981C432.54,211.939,429.016,203.37,421.976,196.712z")
	// footer
	link(rel='stylesheet', href='css/footer.css')
	//- style
		include ../../dist/css/footer.css

	footer.footer
		.container
			.footer__company-details
				address.footer__address 4709 Cheeney St, Santa Clara, CA 95054, USA
			.footer__company-details
				a.footer__email(href='mailto:info@sandymist.com') info@sandymist.com
			.footer__company-details
				a.footer-phone(href='tel:+14084217211') +1 408 421 7211
			.footer__company-details.footer__copyright
				span Sandy Mist, LLC
